<div class="container mt-4 title">
    <div class="row">
        <div class="col">
            <h1>
                
                <i class="fa-solid fa-user-plus"></i>&nbsp;
                Edit Contact Page
            </h1>

            <p style="text-align: justify;">
                Lorem ipsum dolor sit amet consectetur adipisicing elit.
                 Aperiam veniam nostrum ducimus repellat nam provident perspiciatis eos.
                 Dicta reiciendis eius illo beatae, ea, quaerat veniam natus dolorem voluptatum non laboriosam.
                 Lorem ipsum dolor sit amet consectetur adipisicing elit.
                 Ut, saepe quidem quisquam voluptate praesentium aliquid consequuntur a et. 
                 Consequuntur, iste exercitationem velit asperiores doloremque ad impedit inventore repellat quos quaerat.
            </p>
        </div>

    </div>
    <!---add contact form-->
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <form class="border p-3 rounded">
                    <div class="mb-2">
                        <input name="cName" [(ngModel)]="contact.name" type="text" class="form-control" placeholder="Name">
                    </div>
                    <div class="mb-2">
                        <input name="photo" [(ngModel)]="contact.photo" type="text" class="form-control" placeholder="Photo URL">
                    </div>
                    <div class="mb-2">
                        <input name="email" [(ngModel)]="contact.email" type="text" class="form-control" placeholder="Email Id">
                    </div>
                    <div class="mb-2">
                        <input name="mobile" [(ngModel)]="contact.mobile" type="text" class="form-control" placeholder="Mobile Number">
                    </div>
                    <div class="mb-2">
                        <input name="company" [(ngModel)]="contact.company" type="text" class="form-control" placeholder="Company">
                    </div>
                    <div class="mb-2">
                        <input name="title" [(ngModel)]="contact.title" type="text" class="form-control" placeholder="Title">
                    </div>
                    <div class="mb-2">
                        <select name="" id="" class="form-control">
                            <option value="" selected hidden disabled>Select A Group</option>
                            <option value="">Family</option>
                            <option value="">Friends</option>
                        </select>
                    </div>
                    <div class="mb-2">
                        <input type="button" (click)="updateContact()" value="Update" class="btn btn-success">
                        <a routerLink="/" class="btn btn-warning ms-3">Close</a>
                    </div>
                </form>
            </div>
            <!---img-->
            <div class="col-md-4">
                <img [src]="contact.photo" alt="no image" class="contact_image mt-2">
            </div>
        </div>
    </div>
</div>
